.navbar {
    background-color: var(--color-madera-oscuro);
    color: var(--color-blanco-hueso);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: var(--color-blanco-hueso);
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}
