.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-madera-oscuro);
    color: var(--color-blanco-hueso);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left img {
    background-color: var(--color-blanco-hueso);
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    gap: 10px;
}

.navbar a {
    color: var(--color-blanco-hueso);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9em;
    padding: 3px 10px;
    border: 2px solid var(--color-blanco-hueso);
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--color-blanco-hueso);
    color: var(--color-madera-oscuro);
    border: transparent;
    font-weight: 700;
    transform-origin: center;
    transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
    .navbar {
        position: static;
    }

    .navbar ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .navbar-left img {
        display: none;
    }

    .navbar a {
        border: none;
    }
}
