#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

/*  Header y Navbar */

header img.logo-header {
  width: 150px;
  background-color: var(--color-blanco-hueso);
  margin-left: 20px;
}

header {
  background-color: var(--color-blanco-hueso);
  color: var(--color-negro-carbon);
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-center ul {
  display: flex;
  justify-content: space-evenly;

}

.navbar-center ul li {
  background-color: bisque;
  color: #1b1b1b;
  padding: 10px 20px;
  border-radius: 5px;
}
