:root {
  --color-blanco-hueso: #fdfdf6;
  --color-madera-oscuro: #816140;
  --color-verde-olivo: #7a9e76;
  --color-dorado-suave: #f9f2e7;
  --color-azul-acento: #0077cc;
  --color-azul-hover: #005fa3;
  --color-verde-exito: #4caf50;
  --color-rojo-alerta: #f05c52;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


body {

  background-color: var(--color-blanco-hueso);
  color: var(--color-negro-carbon);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li,
input,
button,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.03);
}

input[type="text"],
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--color-madera-oscuro);
  border-radius: 6px;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
