:root {
  --color-negro-carbon: #1C1C1C;
  --color-madera-calida: #A47551;
  --color-gris-humo: #E5E5E5;
  --color-blanco-hueso: #F9F7F4;
  --color-verde-olivo: #6B8E23;
  --color-dorado-suave: #C9A86A;
  --color-madera-oscuro: rgba(150, 82, 19, 0.956);
}


body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--color-blanco-hueso);
  color: var(--color-negro-carbon);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li,
input,
button,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
